.modalBox{
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgba($color-dark,0.5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    visibility: hidden;

    .form{
        position: absolute;
        background-color: $color-primary;
        padding: 18px;
        border-radius: 18px;

        &__inputBox{
            display: flex;
            flex-direction: column;

            input{
                border-radius: 18px;
                padding: 5px ;
            }
        }
    
    }
}