.button {
    background-color:$color-primary;
    border:none;
    padding: 9px;
    border-radius: 10px;
    display:inline-block;

    
    


    &--icon{
           
            background-repeat:no-repeat;
            background-position: right;
            padding-right: 20px;
            

        &--up{
            background-image: url('../img/up.svg');  
            background-size: 15px; 
        }

        &--down{
            background-image: url('../img/down.svg');     
            background-size: 15px;
            
             
        }

        &--sens{
            background-image: url('../img/sens.svg');
            background-size: 20px;
        }

        &--trash{
            background-image: url('../img/trash.svg');
            background-size:25px ; 
            padding-right:25px;
        }

        &--solo{
            height: 18px;
            padding: 0;
            width: 18px;
            display: block;
            background-color: transparent;
        }
    }
}


