.button {
    background-color:$color-primary;
    border:none;
    padding: 9px;
    border-radius: 10px;


    &--icon{
        
        &--up{
            
        }

        &--down{
            
        }

        &--order{
            
        }
    }
}
